<section class="join">
		<div class="container">
			<div class="col-md-8">
					<h3>Get Listed</h3>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						<br/>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			</div>
			<div class="col-md-4">
				<center>
					<a href="/signup" class="btn btn-makeup" name="" style="margin-top: 27%;"> <i class="fa fa-users"></i> Join Now</a>
				</center>
			</div>
		</div>
	</section>
	
    <section id="footer">
      <div class="footer">
        <div class="container">
          <div class="col-md-3">
          <h5>ABOUT US</h5>
          <ul class="footer-menu-list">
            <li><a href="#">About Tushworks</a></li>
            <li><a href="#">Advertise with Us</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">About Developers</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>OTHER LINKS</h5>
          <ul class="footer-menu-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>SUPPORT</h5>
          <ul class="footer-menu-list">
            <li><a href="#">FAQ’s</a></li>
            <li><a href="#">Support Team</a></li>
            <li><a href="#">Email Us</a></li>
            <li><a href="#">Send Us Feedbacks</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>CONTACT US</h5>
          <ul class="footer-menu-list">
            <li><a href="mailto:info@giftbox.ng">contact@tushworks.com</a></li>
            <li><a href="tel:+2348024916061">+234(0) 812 083 9018</a></li>
            <li>
  	          <ul class="social-icons">
  	              <a class="facebook" href="#" ><i class="fa fa-facebook"></i></a>
  	              <a class="twitter" href="http://twitter.com/tushworksNG" target="_blank"><i class="fa fa-twitter"></i></a>
  	             <!--  <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
  	              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
  	              <a class="twitter" href="#"><i class="fa fa-rss"></i></a>
  	              <a class="workplace" href="#" title="Workplace"><i class="fa fa-spin fa-cog"></i></a> -->
  	          </ul>
            </li>
            <!-- <li><a href="#">Email Us</a></li> -->
          </ul>
        </div>

        </div>
      </div>

      <div class="footer-bottom">
		  <div class="container">
        	  <center>&copy; Copyright 2015 <a href="#">Tushworks.</a> All Right Reserved. <p class="pull-right"><a href="#">Back to top</a></p></center>
		  </div>
      </div>
    </section>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery.min.js"><\/script>')</script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
